@model HeadHunter2.Models.Country
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Country Record</h2>

@using (Html.BeginForm("Create", "Country", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
    </div>
    <input type="submit" value="Submit" class="btn btn-success"/>
}